/* Base */
.prettyprint.theme-gino {
	font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier,
		monospace;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 15px;
}

/* Comments */
.prettyprint.theme-gino .com {
	color: #27ae60;
}

/* Keywords */
.prettyprint.theme-gino .lit, 
.prettyprint.theme-gino.lang-html .lit,
.prettyprint.theme-gino.lang-html .kwd {
	color: #1abc9c;
}

/* GNO Group */
.prettyprint.theme-gino.lang-gno .grp {
	color: #e67e22;
}

/* GNO Base Method */
.prettyprint.theme-gino.lang-gno .gbm {
	color: #9b59b6;
}

.prettyprint.theme-gino.lang-html .atv + .pln,
.prettyprint.theme-gino.lang-html .pun + .pln {
	/* CSS Property Name */
	color: #3498db;
}
.prettyprint.theme-gino .atv,
.prettyprint.theme-gino .str {
	color: #3498db;
}
.prettyprint.theme-gino .atn {
	color: #bdc3c7;
}

/* Plain */
.prettyprint.theme-gino .pln {
	color: #2c3e50;
}
.prettyprint.theme-gino .pun {
	color: #95a5a6;
}
.prettyprint.theme-gino .typ {
	color: #8e44ad;
}
.prettyprint.theme-gino .tag,
.prettyprint.theme-gino .kwd {
	color: #1abc9c;
	font-weight: bold;
}
